<%- include('partials/header') %> 
<%- include('partials/nav') %> 
<div class="container">
  <div>
    <br>
    <h1 class="display-2">Cast</h1>
    <br>
  </div>
  <div>
    <button class="btn btn-info"><a href="/casts/add">Add Cast</a></button>
    <table class="table table-hover">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Birth Year</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Gender</th>
        <th scope="col">Actions</th>
      </thead>
      <tbody>
        <% data.forEach(el => { %>
          <tr>
            <td><%= el.getFullName() %>  </td>
            <td><%= el.birth_year %>  </td>
            <td><%= el.phone_number %>  </td>
            <td><%= el.gender  %> </td>
            <td>
              <button class="btn btn-success"><a href="/casts/<%= el.id %>/edit">Edit</a></button>
              <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')" ><a href="/casts/<%= el.id %>/delete">Delete</a></button>
              <button class="btn btn-outline-success"><a href="/casts/<%= el.id %>/moviescast">See Movies</a></button>
            </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  </div>
</div>
<%- include('partials/footer') %> 